.modelDoorsTitle{
    text-align: center;
}

.modelDoorsAddIcon{
    font-size: 30px;
}

.modelDoorsAddIcon:hover{
    cursor: pointer;    
}

.modelDoorsTableItemAction:hover {
    cursor: pointer;
}