.addModelDoor{
    display: flex;
    flex-direction: column;
    align-items: center;     
    flex-wrap: wrap; 
    margin: 0 auto;
}

.addModelDoor{
    text-align: center;
}

.formAddModelDoor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 400px;
}

.formAddModelDoorItem{
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formAddModelDoorItem div{
    width: 70%;
}

.formAddModelDoorItem label{
    width: 30%;
    text-align: end;
    padding-right: 10px;
}

.formAddModelDoorItemError{
    position: absolute;
    font-size: 12px;
    color: lightcoral;
}