.editModelDoor{
    display: flex;
    flex-direction: column;
    align-items: center;     
    flex-wrap: wrap;     
}

.editModelDoorTitle{
    text-align: center;
}

.formEditModelDoor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 90%;
}

.formEditModelDoorItem{
    width: 90%;
    position: relative;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formEditModelDoorItem div{
    width: 75%;
}

.formEditModelDoorItem label{
    width: 25%;
    text-align: end;
    padding-right: 10px;
}

.fformEditModelDoorItemError{
    position: absolute;
    font-size: 12px;
    color: lightcoral;
}